![](img/2022-11-10-20-47-18.png)

In [2]:
from sympy import *
from sympy.physics import units as u
data = [
    [10.18,10.29,10.33,66.2,44.3],
    [11.48,11.43,11.22,63.2,46.5],
    [12.35,12.30,11.85,61.15,47.4],
    [13.05,13.00,13.20,59.0,48.0],
    [14.51,14.73,14.41,57.8,48.8],
    [16.63,16.98,16.88,57.0,49.3],
    [20.02,19.99,19.97,56.0,51.2],
    [28.64,28.60,28.62,54.5,51.9],
    [34.98,34.70,35.08,53.8,52.5],
    [45.33,45.87,46.00,53.3,52.2]
]
result = []
L = 1.251 *u.meter
d = 2.8   *u.cm
E = 0.0015*u.mm
V = 10000 *u.cm**3
for t1,t2,t3,hr,hl in data:
    t = (t1+t2+t3)/3 *u.second
    Q = V/t
    dh = (hr-hl) *u.cm
    hf = dh*(13.6-1) *u.cm
    g = 9.81*u.meter/u.second**2
    pi = 3.14
    fr = hf*g*(d**5)*(pi**2)/(8*L*Q**2)
    
    v = L/t
    nu = 0.8e-6 *u.m**2/u.second
    nr = v*d/nu
    output = {
        "t":float(t.subs(u.second,1)), 
        "Q":float(Q.subs(u.cm**3/u.second,1)), 
        "dh":float(dh.subs(u.cm,1)), 
        "fr":float(fr.subs(u.cm,1)), 
        "Nr":float(nr.subs(u.cm/u.m,0.01))
        }
    result.append(output)
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
pd.DataFrame.from_dict(result)

      t      Q    dh   fr       Nr
0 10.27 974.03 21.90 0.48 4,264.77
1 11.38 878.99 16.70 0.45 3,848.67
2 12.17 821.92 13.75 0.43 3,598.77
3 13.08 764.33 11.00 0.39 3,346.62
4 14.55 687.29  9.00 0.40 3,009.28
5 16.83 594.18  7.70 0.46 2,601.60
6 19.99 500.17  4.80 0.40 2,189.98
7 28.62 349.41  2.60 0.45 1,529.87
8 34.92 286.37  1.30 0.33 1,253.87
9 45.73 218.66  1.10 0.48   957.40