![](img/2022-11-30-22-51-47.png)

In [10]:
import pandas as pd
class Head(dict):
    def __init__(self, *args, **kwargs):
        super(Head, self).__init__(*args, **kwargs)
        self.__dict__ = self
        self.__dict__.update(kwargs)

heads = {}
heads[1] = Head(v=0,p=5,z=12,all=17)
heads[2] = Head(v=None,p=None,z=12,all=None)
heads[3] = Head(v=None,p=None,z=0,all=None)
heads[4] = Head(v=None,p=0,z=0,all=None)
pd.options.display.float_format = '{:,.2f}'.format
pd.DataFrame.from_dict(heads)

      1     2    3    4
v     0   NaN  NaN  NaN
p     5   NaN  NaN 0.00
z    12 12.00 0.00 0.00
all  17   NaN  NaN  NaN

In [4]:
# Head .All
loss_list = [0.25, 2.82, 0.55]
for i, loss in enumerate(loss_list):
    heads[i+2].all = heads[i+1].all - loss
pd.DataFrame.from_dict(heads)

      1     2     3     4
v     0   NaN   NaN   NaN
p     5   NaN   NaN  0.00
z    12 12.00  0.00  0.00
all  17 16.75 13.93 13.38

In [5]:
# v4 , Q
from math import pi, sqrt
heads[4].v = heads[4].all
v4 = sqrt(heads[4].v *2*9.81)
d4 = 0.1
a4 = pi*d4**2/4
Q = v4*a4
print(f'{v4=:.3f}')
print(f'{Q=:.3f}')

v4=16.202
Q=0.127

In [6]:
# head 2
d2 = 0.25
a2 = pi*d2**2/4
v2 = Q/a2
heads[2].v = v2**2/(2*9.81)
heads[2].p = heads[2].all - heads[2].v
print(f'{v2=:.3f}')
pd.DataFrame.from_dict(heads)

v2=2.592

      1     2     3     4
v     0  0.34   NaN 13.38
p     5 16.41   NaN  0.00
z    12 12.00  0.00  0.00
all  17 16.75 13.93 13.38

In [7]:
# head 3
d3 = 0.10
a3 = pi*d3**2/4
v3 = Q/a3
heads[3].v = v3**2/(2*9.81)
heads[3].p = heads[3].all - heads[3].v
print(f'{v3=:.3f}')
pd.DataFrame.from_dict(heads)

v3=16.202

      1     2     3     4
v     0  0.34 13.38 13.38
p     5 16.41  0.55  0.00
z    12 12.00  0.00  0.00
all  17 16.75 13.93 13.38